.signup-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;    
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form input {
    margin-bottom: 3px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #000000;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #000000;
}

.app-content {
    margin-top: 50px;
}

.signup-container{
    background-color: rgb(144, 144, 144);
    border-radius: 15px;
    padding: 15px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}
