/* Background */

.App {
  height: 100vh;
  background: linear-gradient(134deg, #ffa000, #ff0000, #0600ff);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 26% 0%
  }

  50% {
    background-position: 75% 100%
  }

  100% {
    background-position: 26% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 26% 0%
  }

  50% {
    background-position: 75% 100%
  }

  100% {
    background-position: 26% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 26% 0%
  }

  50% {
    background-position: 75% 100%
  }

  100% {
    background-position: 26% 0%
  }
}




/*Home Page  */

.jumbotron {
  margin-top: 100px;
  text-align: center;
  display: flex;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.496);
  background-color: rgb(218, 218, 218);
}

.projekte_table {
  margin-top: 50px;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.496);
}

td,
th {
  border-left: solid black 1px;
  border-top: solid black 1px;
  background-color: rgb(197, 197, 197);
}

th {
  background-color: rgb(133, 133, 133);
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}




/*Login / Register Page*/

label {
  display: block;
  margin-top: 10px;
  font-size: large;
  font-weight: 500;
}

.login-form,
.signup-form {
  max-width: 450px;
  margin: auto;
}

.form-control {
  background-color: #f3f3f3;
}

.form-control:hover {
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.274);
  border-color: black;
}

.card {
  background-color: #d6d6d6;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 20px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn{
  margin-left: 70px;
  width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before{
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active{
  color: #000
}

.btn:active:after{
  background: transparent;
}

.btn:hover:hover:before{
  opacity: 1;
}

.btn:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



/*Navbar*/

.navbar {
  background-color: black;
}




/*Navbar Register*/

.nav-item-register {
  margin-right: 100px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;


}

.nav-item-register:hover,
.nav-item-register:focus {
  background-size: 0 0.1em, 100% 0.1em;



}




/*Navbar Login*/

.nav-item-login {
  margin-right: 50px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}


.nav-item-login:hover, 
.nav-item-login:focus {
  background-size: 0 0.1em, 100% 0.1em;

}




/*Navbar Logout*/

.nav-item-logout {
  margin-right: 100px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}

.nav-item-logout:hover, 
.nav-item-logout:focus {
  background-size: 0 0.1em, 100% 0.1em;

}




/*Navbar Home*/

.nav-item-home {
  margin-left: 50px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}

.nav-item-home:hover, 
.nav-item-home:focus {
  background-size: 0 0.1em, 100% 0.1em;

}




/*Navbar Admin*/

.nav-item-admin {
  margin-left: 50px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}

.nav-item-admin:hover, 
.nav-item-admin:focus {
  background-size: 0 0.1em, 100% 0.1em;

}




/*Navbar User*/

.nav-item-user {
  margin-left: 50px;
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}

.nav-item-user:hover, 
.nav-item-user:focus {
  background-size: 0 0.1em, 100% 0.1em;

}




/*Navbar Profile*/

.nav-item-profile {
  margin-right: 50px;

  background:
    linear-gradient(to right, rgba(100, 200, 200, 0.036), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  font-size: 20px;

}

.nav-item-profile:hover, 
.nav-item-profile:focus {
  background-size: 0 0.1em, 100% 0.1em;

}





/*Navbar Logo*/

.navbar-brand{
  margin-left: 50px;
}